.paint-header{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    font-family: 'Open Sans', sans-serif;
   

    .nav-panel{
        display: flex;
        justify-content: space-between;
        padding: 5px 11px;
        background-color: #262D3D;
        .logo-wrapper{
            display: flex;
            align-items: center;
            .portfolio-btn{
                font-family: 'Open Sans', sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 800;
                line-height: 25px;
                padding: 3px 10px 3px;
                border-right: solid 2px;
                letter-spacing: 0em;
                text-align: left;
                color: #ffffff;

            }
            .paint-title{
                font-family: 'Open Sans', sans-serif;
                font-size: 18px;
                font-style: normal;
                padding: 3px 10px 3px 10px;
                font-weight: 800;
                line-height: 25px;
                letter-spacing: 0em;
                text-align: left;
                color: #ffffff;
            }
        }
        .paint-box{
            display: flex;
            justify-content: space-between;
            span{
                color: white;
                cursor: pointer;
            }

            .brush-color{
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                padding: 10px 50px;
                cursor: pointer;

                .box-color-title{
                    display: flex;
                
                    img {
                        width: 25px;
                        height: 25px;
                        margin: 0 5px 0;
                    }
                
                    p {
                        font-family: 'Open Sans', sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 800;
                        line-height: 25px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #ffffff;
                    }
                }

                &:hover{
                    .color-box{
                        visibility: visible;
                        opacity: 88%;
                        transform: translateY(15px);
                    }
                }

                
                
                .color-box{
                    z-index: 12;
                    border-radius: 5px;
                    margin-top: 30px;
                    padding: 13px 19px 5px;
                    position: absolute;
                    text-align: center;
                    visibility: hidden;
                    background: #262D3DE0;
                    opacity: 0;
                    transition: all 0.3s ease;
                    
                    .palette{
                        .color {
                            height: 20px;
                            width: 98px;
                            left: 485px;
                            top: 83px;
                            border-radius: 2px;
                            margin: 0 0 14px;

                            &:hover {
                                cursor: pointer;
                                opacity: 0.8;
                            }

                            &.active {
                                &::after {
                                    content: url(../img/check.svg);
                                }
                            }

                        }
                    }
                }
            }

            .brush-weight{
                padding: 10px 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;


                .box-weight-title{
                    display: flex;
                
                    img {
                        width: 25px;
                        height: 25px;
                        margin: 0 5px 0;
                    }
                
                    p {
                        font-family: 'Open Sans', sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 800;
                        line-height: 25px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #ffffff;
                    }
                }

                &:hover{
                    .brush-box{
                        visibility: visible;
                        opacity: 88%;
                        transform: translateY(15px);
                    }
                }
                
                .brush-box{
                    z-index: 12;
                    border-radius: 5px;
                    margin-top: 30px;
                    padding: 13px 10px 5px;
                    position: absolute;
                    text-align: center;
                    visibility: hidden;
                    background: #262D3DE0;
                    opacity: 0;
                    transition: all 0.3s ease;

                    .weight{
                        display: flex;
                        justify-content: space-between;
                        position: relative;
                        padding: 8px 10px;
                        margin-bottom: 10px;
                        cursor: pointer;
                        align-items: center;

                        &.active {
                            background-color: rgba(0, 0, 0, 0.2);
                        }
                        
                        &:hover {
                            background-color: rgba(0, 0, 0, 0.2);

                        }
                        .text{
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 800;
                            line-height: 14px;
                            letter-spacing: 0em;
                            color: #ffffff;
                            text-align: left;
                            padding: 0 8px 0;
                            
                        }
                        .brush{
                            padding: 0 4px 0;
                            border-radius: 2px;
                            width: 65px;
                            background-color: #ffffff;
                            
                        }
                    }
                }
            }

            .eraser{
                padding: 10px 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;

                .box-eraser-title{
                    display: flex;
                
                    img {
                        width: 25px;
                        height: 25px;
                        margin: 0 5px 0;
                    }
                
                    p {
                        font-family: 'Open Sans', sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 800;
                        line-height: 25px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #ffffff;
                    }
                }
                &:hover{
                    .eraser-box{
                        visibility: visible;
                        opacity: 88%;
                        transform: translateY(15px);
                    }
                }
                .eraser-box{
                    z-index: 12;
                    border-radius: 5px;
                    margin-top: 30px;
                    padding: 13px 10px 5px;
                    position: absolute;
                    text-align: center;
                    visibility: hidden;
                    background: #262D3DE0;
                    opacity: 0;
                    transition: all 0.3s ease;


                    .eraser-width{
                        display: flex;
                        justify-content: space-between;
                        position: relative;
                        padding: 8px 10px;
                        margin-bottom: 10px;
                        cursor: pointer;
                        align-items: center;

                        &.active {
                            background-color: rgba(0, 0, 0, 0.2);
                        }

                        &:hover {
                            background-color: rgba(0, 0, 0, 0.2);
                        }

                        .text {
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 800;
                            line-height: 14px;
                            letter-spacing: 0em;
                            color: #ffffff;
                            text-align: left;
                            padding: 0 8px 0;
                        }

                        .size {
                            padding: 0 4px 0;
                            border-radius: 2px;
                            width: 65px;
                            background-color: #ffffff;
                        }
                    }
                }
            }
        }

        .btn-group {
            display: flex;
            align-items: center;
            .trash-btn {
                display: flex;
                margin: 0 15px 0;
                cursor: pointer;
                p {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 25px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #ffffff;
                }
                
                img {
                    width: 20px;
                    height: 18px;
                    margin: 3px 5px 0 0;
                }
            }

            .replay-btn {
                display: flex;
                margin: 0 15px 0;
                cursor: pointer;
                p {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 25px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #ffffff;
                }

                img {
                    width: 20px;
                    height: 18px;
                    margin: 3px 5px 0 0;
                }
            }
        }
    }
}

canvas {
    z-index: 5;
}


