
html, body {
  margin: 0;
  padding: 0;
  font-family: "Tahoma";
}

h2, h4, h5, h6, ul, li, a, div, p {
  margin: 0;
  padding: 0;
  font-family: "Tahoma";
  font-size: 16px;
  color: #000;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
}


.paint-header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  font-family: 'Open Sans', sans-serif;
}

.paint-header .nav-panel {
  display: flex;
  justify-content: space-between;
  padding: 5px 11px;
  background-color: #262D3D;
}

.paint-header .nav-panel .logo-wrapper {
  display: flex;
  align-items: center;
}

.paint-header .nav-panel .logo-wrapper .portfolio-btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 25px;
  padding: 3px 10px 3px;
  border-right: solid 2px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.paint-header .nav-panel .logo-wrapper .paint-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  padding: 3px 10px 3px 10px;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.paint-header .nav-panel .paint-box {
  display: flex;
  justify-content: space-between;
}

.paint-header .nav-panel .paint-box span {
  color: white;
  cursor: pointer;
}

.paint-header .nav-panel .paint-box .brush-color {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 10px 50px;
  cursor: pointer;
}

.paint-header .nav-panel .paint-box .brush-color .box-color-title {
  display: flex;
}

.paint-header .nav-panel .paint-box .brush-color .box-color-title img {
  width: 25px;
  height: 25px;
  margin: 0 5px 0;
}

.paint-header .nav-panel .paint-box .brush-color .box-color-title p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.paint-header .nav-panel .paint-box .brush-color:hover .color-box {
  visibility: visible;
  opacity: 88%;
  transform: translateY(15px);
}

.paint-header .nav-panel .paint-box .brush-color .color-box {
  z-index: 12;
  border-radius: 5px;
  margin-top: 30px;
  padding: 13px 19px 5px;
  position: absolute;
  text-align: center;
  visibility: hidden;
  background: #262D3DE0;
  opacity: 0;
  transition: all 0.3s ease;
}

.paint-header .nav-panel .paint-box .brush-color .color-box .palette .color {
  height: 20px;
  width: 98px;
  left: 485px;
  top: 83px;
  border-radius: 2px;
  margin: 0 0 14px;
}

.paint-header .nav-panel .paint-box .brush-color .color-box .palette .color:hover {
  cursor: pointer;
  opacity: 0.8;
}

.paint-header .nav-panel .paint-box .brush-color .color-box .palette .color.active::after {
  content: url(../img/check.svg);
}

.paint-header .nav-panel .paint-box .brush-weight {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.paint-header .nav-panel .paint-box .brush-weight .box-weight-title {
  display: flex;
}

.paint-header .nav-panel .paint-box .brush-weight .box-weight-title img {
  width: 25px;
  height: 25px;
  margin: 0 5px 0;
}

.paint-header .nav-panel .paint-box .brush-weight .box-weight-title p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.paint-header .nav-panel .paint-box .brush-weight:hover .brush-box {
  visibility: visible;
  opacity: 88%;
  transform: translateY(15px);
}

.paint-header .nav-panel .paint-box .brush-weight .brush-box {
  z-index: 12;
  border-radius: 5px;
  margin-top: 30px;
  padding: 13px 10px 5px;
  position: absolute;
  text-align: center;
  visibility: hidden;
  background: #262D3DE0;
  opacity: 0;
  transition: all 0.3s ease;
}

.paint-header .nav-panel .paint-box .brush-weight .brush-box .weight {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 8px 10px;
  margin-bottom: 10px;
  cursor: pointer;
  align-items: center;
}

.paint-header .nav-panel .paint-box .brush-weight .brush-box .weight.active {
  background-color: rgba(0, 0, 0, 0.2);
}

.paint-header .nav-panel .paint-box .brush-weight .brush-box .weight:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.paint-header .nav-panel .paint-box .brush-weight .brush-box .weight .text {
  font-size: 10px;
  font-style: normal;
  font-weight: 800;
  line-height: 14px;
  letter-spacing: 0em;
  color: #ffffff;
  text-align: left;
  padding: 0 8px 0;
}

.paint-header .nav-panel .paint-box .brush-weight .brush-box .weight .brush {
  padding: 0 4px 0;
  border-radius: 2px;
  width: 65px;
  background-color: #ffffff;
}

.paint-header .nav-panel .paint-box .eraser {
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.paint-header .nav-panel .paint-box .eraser .box-eraser-title {
  display: flex;
}

.paint-header .nav-panel .paint-box .eraser .box-eraser-title img {
  width: 25px;
  height: 25px;
  margin: 0 5px 0;
}

.paint-header .nav-panel .paint-box .eraser .box-eraser-title p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.paint-header .nav-panel .paint-box .eraser:hover .eraser-box {
  visibility: visible;
  opacity: 88%;
  transform: translateY(15px);
}

.paint-header .nav-panel .paint-box .eraser .eraser-box {
  z-index: 12;
  border-radius: 5px;
  margin-top: 30px;
  padding: 13px 10px 5px;
  position: absolute;
  text-align: center;
  visibility: hidden;
  background: #262D3DE0;
  opacity: 0;
  transition: all 0.3s ease;
}

.paint-header .nav-panel .paint-box .eraser .eraser-box .eraser-width {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 8px 10px;
  margin-bottom: 10px;
  cursor: pointer;
  align-items: center;
}

.paint-header .nav-panel .paint-box .eraser .eraser-box .eraser-width.active {
  background-color: rgba(0, 0, 0, 0.2);
}

.paint-header .nav-panel .paint-box .eraser .eraser-box .eraser-width:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.paint-header .nav-panel .paint-box .eraser .eraser-box .eraser-width .text {
  font-size: 10px;
  font-style: normal;
  font-weight: 800;
  line-height: 14px;
  letter-spacing: 0em;
  color: #ffffff;
  text-align: left;
  padding: 0 8px 0;
}

.paint-header .nav-panel .paint-box .eraser .eraser-box .eraser-width .size {
  padding: 0 4px 0;
  border-radius: 2px;
  width: 65px;
  background-color: #ffffff;
}

.paint-header .nav-panel .btn-group {
  display: flex;
  align-items: center;
}

.paint-header .nav-panel .btn-group .trash-btn {
  display: flex;
  margin: 0 15px 0;
  cursor: pointer;
}

.paint-header .nav-panel .btn-group .trash-btn p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.paint-header .nav-panel .btn-group .trash-btn img {
  width: 20px;
  height: 18px;
  margin: 3px 5px 0 0;
}

.paint-header .nav-panel .btn-group .replay-btn {
  display: flex;
  margin: 0 15px 0;
  cursor: pointer;
}

.paint-header .nav-panel .btn-group .replay-btn p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.paint-header .nav-panel .btn-group .replay-btn img {
  width: 20px;
  height: 18px;
  margin: 3px 5px 0 0;
}

canvas {
  background-color: #ffffff;
}
